#ignore all files
*
!*/

target/

#except the following files
!.gitignore
!.clang-format
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.build

!*.go

!*.cs
!*.csproj
!*.resx

!*.md
!*.ttf
!*.jpg
!*.txt
!*.html

#except the following folders
